@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
     font-size: 16px;
     color: #465b52;
     margin: 15px 0px 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius:4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease 0.5s;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #0263b3;
    background-color: white;
    border: 3px solid #0263b3;
    cursor: pointer;
    outline: none;
    transition: all ease 0.5s;
}
#herobutton{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border: 4px solid #0263b3;
    color: #0263b3;
}
#herobutton:hover{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border: 4px solid #ffffff;
    color: #ffffff;
}
body{
    width: 100%;
}

/*Header start*/
#header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999 ;
    position:sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 20px 27px -10px rgba(0,0,0,0.75);
}
#logo{
    font-size: 25px;
    color: #0263b3;
    position:relative;
    transition: 0.5s ease;
}
#logo1{
    font-size: 25px;
    color: #0263b3;
    position:relative;
    transition: 0.5s ease;
}
#logo::after{
    content:"";
    width: 30%;
    height:4px;
    background: #0263b3;
    position: absolute;
    bottom: 9px;
    left: 20px;
    transition: 0.5s ease;
}
#logo:hover{
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s ease;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar.active{
    right: 0px;
}
#close{
    display:none;
}
#navbar li{
    list-style: none;
    padding:0 20px ;
    position:relative;
    transition: 0.5s ease;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #2D3A73;
    transition: 0.5s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #0263b3;
    width: 20px;
    transition:0.5s ease;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 30%;
    height:4px;
    background: #0263b3;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.5s ease;
}
#mobile{
    display: none;
    align-items: center;
}
/*Home page*/
#hero{
    background-image: url(img/hero4.jpg);
    height:90vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-attachment: fixed;
    text-align: center;
}

#hero h4{
    padding: 30px;
}
#hero h1{
    background: -webkit-linear-gradient(to right,#0682e7,rgb(38, 58, 245));
    background:linear-gradient(to right,#008cff,rgb(141, 56, 238));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 20px;
    font-size: 38px;

    transition:0.5s ease;
}
#hero h1:hover{
    cursor: pointer;
    text-shadow: 2px 2px 20px #0263b3;
    transition: 0.7s ease;
}
#hero iframe{
    width: 80%;
    text-align: center;
    border: 6px solid #0263b3;
    margin: auto;
    margin-top: 7px;
    box-shadow: 10px 10px 40px #0263b3;
    border-radius: 10px;
    height: 50vh;
}
#feature{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3); 
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border:5px solid #35a4ff;
    border-radius: 4px;
    margin-left: 3px;
    transition: 0.8s ease;
    background-color: #00437a;
}
#feature .fe-box:hover{
    box-shadow: 6px 18px 20px #0080e9;
    cursor:pointer;
    background:#0278ff9d;
    transition: 0.8s ease;
    
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #fddde4;
    background-color: #088178;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #F3CFE3;
    color: #222;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #B8DD7F;
    color: #222;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #89BFE1;
    color: #222;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #A28FDA;
    color: #222;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #E1A789;
    color: #222;
}
#product1{
    text-align: center;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
}
#product1 h2{
    border-bottom: 4px solid#35a4ff;
    border-bottom-width: 50;
}
#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 20px;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 6px solid #35a4ff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;  
    position: relative; 
    transition: 0.5s ease;
    background-color: #00437a;
    color: #e8f6ea;
    transition: 0.5s ease;
}
#product1 .pro:hover{
    cursor: pointer;
    box-shadow: 6px 10px 20px rgb(53, 164, 255);
    transition: 0.5s ease;
    background-color: #0d6ab6;
    border: #0263b3;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    color: #e8f6ea;
}
#product1 .pro .des span{
    color:#e8f6ea ;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top:7px;
    color:#e8f6ea;
    font-size:14px
}
#product1 .pro .des i{
    font-size:12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#e8f6ea;
}
#product1 .pro .cart{
    width: 40%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #e8f6ea;
    font-weight: 500;
    color:#35a4ff;
    border: 3px solid #35a4ff;
    position:absolute;
    bottom: 20px;
    right:10px;
    transition: 0.5s ease;
}
#product1 .pro .cart:hover{
    cursor: pointer;
    background:#004985; 
    color: #ffffff;
    transition: 0.5s ease;
}

#banner{
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    background-attachment: fixed;
    height: 40vh;
    background-size:cover;
    background-position: center center;
    margin: 0;

}
#banner h4{
    color: #e8f6ea;
    font-size: 20px;
}
#banner h2{
    color: #e8f6ea;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #a50303;   
}
button.normal:hover{
    background-color: #0263b3;
    transition: all ease 0.5s ;
    color: #ffffff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
}
#sm-banner .banner-box{
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size:cover;
    background-position:  center;
    margin: 0;
    padding: 30px;
    border-radius: 10px;
}
#sm-banner .banner-box2{
    background-image: url(img/banner/b10.jpg);
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}
.banner-box{
    transition: all ease 0.5s;
}
.banner-box:hover{
    box-shadow: 1px 15px 22px 9px rgba(0,0,0,0.64);
    transition: all ease 0.5s;
    border: 5px solid white;
}
.banner-box button:hover{
    background: #0080e9;
    border:1px solid #0263b3;
    color: #ffff;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    border-radius: 10px;
}
#banner3 .banner-box{
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size:cover;
    background-position:  center;
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;

}
#banner3 h3{
    color: rgb(161, 0, 0);
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #083c68;
    background-attachment: fixed;

}
#newsletter h4{
    font-size:22px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0 ;
}
#newsletter p span{
    color: orange;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color:#044072 ;
    color: #ffffff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid white;
}
#newsletter button:hover{
    background-color:#1288f0 ;
    box-shadow: 10px 5px 2px 2px rgba(255, 255, 255, 0.64);
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer #logo1{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #222;
}
footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    padding:0 0 8px 0;
    
}
footer.follow{
    margin-top: 20px;
}
.icon i{
    margin: 10px;
    cursor: pointer;
}
footer .follow #insta{
    color: rgba(155, 12, 155, 0.979);
}
footer .follow #face{
    color: rgb(19, 0, 192);
}
footer .follow #youtube{
    color: rgb(252, 0, 0);
}
footer .follow #twitter{
    color: rgb(0, 140, 255);
}
footer .follow #pin{
    color: rgb(175, 5, 5);
}
/*Responsive Parts and MEdia Query*/

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
        #hero iframe{
            margin-bottom: 30px;
            width: 90%;

        }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 88px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom:25px;  
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display:block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #2D3A73;
        font-size: 24px;
    }
    #bolsa{
        display: none;
    }
    #hero{
        height: 65vh;
        padding: 0 80px;
        background-position:top 30% right 30%;
    }
    #feature{
        justify-content: center;

    }
    #feature .fe-box{
        margin: 10px 10px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 10px 10px;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
     
    }
    #sm-banner .banner-box2{
        margin-top: 30px;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #newsletter .form{
        width: 80%;
    }
    #prodetail{
        display: flex;
        flex-direction: column;
    }
    #prodetail .single-proimage{
        width: 100%;
        margin-right: 0px;
    }
    #creators .person{
        width: 60%;
        height: 30%;
    }
    #about-head {
        display: flex;
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #about-head h2{
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
    }
    #contact-us{
        justify-content: center; 
    }

    #contact-us .talk{
        justify-content: center;
        margin: 8px 8px;
    }
}
@media(max-width: 477px) {
    #header{
        padding: 10px 30px;
    }
    iframe{
        display: none;
    }
    #herobutton{
        display: flex;
    }
    #prodetail{
        display: flex;
        flex-direction: column;
    }
    #prodetail .single-proimage{
        width: 100%;
        margin-right: 0px;
    }
    #prodetail .single-pro-details{
        width: 100%;
    }
    #banner3 .banner-box h2{
        font-size:15px;
    }
    #banner3 .banner-box2{
        font-size:15px;
    }
    #banner3 .banner-box3{
        font-size:15px;
    }
    #about-head{
        flex-direction: column;
    }
    #creators .person{
        width: 30%;
        height: 30%;
    }
    #about-head {
        margin: 0;
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
    }
    #about-head h2{
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
    }
}

/* SINGLE PRODUCT*/
#prodetail{
    display: flex;
    margin-top: 20px;
}
#prodetail .single-proimage{
    width: 100%;
    margin-right: 50px;
   
}
.small-img-gp{
    display: flex;
    justify-content: space-between;
    
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    
    transition:all ease 0.3s;
}
.small-img-col:hover{
    border: 6px solid #006cc4;
    transition: all ease 0.3s;
}

#prodetail .single-pro-details h4{
    color: black;
    padding-top: 40px 0 20px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#prodetail .single-pro-details h2{
    font-size: 26px;
}
#prodetail .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetail .single-pro-details span{
    text-align: justify;
    font-size: 1.2em;
    line-height: 30px;
}
#prodetail .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}
#prodetail .single-pro-details button{
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    color: rgb(0, 97, 224);
    border: 4px solid rgb(30, 101, 255);
    transition: 0.5s;
}

#prodetail .single-pro-details button:hover{
    background: rgb(6, 140, 250);
    color: white;
    border: 4px solid rgb(30, 101, 255);
    transition: all ease 0.5s;
}


/* Shop page */

#page-header{
    background: url(img/banner/b1.jpg);
    width: 100%;
    height: 65vh;
    background-position: center top;
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
    text-align: center;
    background-attachment:fixed ;
}
#page-header h1,h4{
    color: #E3E6F3;
}
#page-header span{
    color: rgb(252, 0, 0);
}
#pagination{
    text-align: center;

}
#pagination a{
    text-decoration:none;
    background: #0E6AB6;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    margin: 8px;
    transition: 0.3s;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#pagination a:hover{
    border: 3px solid rgb(27, 107, 255);
    transition: 0.3s;
}
/*About page*/
#about-header{
    background: url(img/about/banner.jpg);
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    text-align: center;
}
#about-header h1{
    background: -webkit-linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 170px;
    text-shadow: 22px 14px 16px 0px rgba(38, 14, 255, 0.75);
}
#about-header h4{
    background: -webkit-linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 22px 14px 16px 0px rgba(0, 109, 199, 0.75);
    padding-top: 20px;
}
#about-head{
    display: flex;
    align-items:center ;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3);
}

#about-head img{
   max-width: 50%;
    height: auto;
    border: 6px solid #35a4ff;
    box-shadow: 22px 14px 16px 0px rgba(0,0,0,0.75);
}
#about-head h2{
    background: -webkit-linear-gradient(to right,#0682e7,rgb(38, 7, 175));
    background:linear-gradient(to right,#008cff,rgb(62, 0, 133));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about-head p{
    font-size: 1.2em;
    line-height: 35px;
    color: #222;
}
#about-head div{
    padding-left: 40px;
}
#creators {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3); 
    padding-left: 80px;
    padding-right: 80px;
}
#creators .person{
    width: 300px;
    text-align: center;
    border-radius: 4px;
    margin-left: 3px;
    transition: 0.8s ease;
    margin-top: 50px;
    border: 3px solid #008cff;
    border-radius: 20px;
}
#creators .person:hover{
    box-shadow: 3px 3px 14px 6px #008cff;
    cursor:pointer;
    background:#0278ff9d;
    transition: 0.8s ease;
    border: 6px solid #0263b3;
}
#creators .person img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
#creators .person h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #fddde4;
    background-color: #008cff;
}
#creators .person p{
    color: #222;
    line-height: 30px;

}
#about-app{
    text-align: center;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3); 
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#contact-us{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(207, 207, 207),#E3E6F3); 
    padding-left: 116px;
    padding-right: 80px;
}
#contact-us .talk{
    width: 170px;
    text-align: center;
    padding: 25px 15px;
    border:5px solid #35a4ff;
    border-radius: 4px;
    margin-left: 3px;
    transition: 0.8s ease;
    background-color: #00437a;
}
#contact-us .talk:hover{
    box-shadow: 6px 18px 20px #0080e9;
    cursor:pointer;
    background:#0278ff9d;
    transition: 0.8s ease;
    
}
#contact-us .talk img{
    width: 100%;
    margin-bottom: 10px;
}
#contact-us .talk h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #00408a;
    background-color: #E1E4EF;
}
#contact-us .talk:nth-child(2) h6{
    background-color: #F9A826;
    color: #222;
}
#contact-us .talk:nth-child(3) h6{
    background-color: #F50057;
    color: rgb(255, 255, 255);
}
#contact-us .talk:nth-child(4) h6{
    background-color: #89BFE1;
    color: #222;
}
#contact-us .talk:nth-child(5) h6{
    background-color: #A28FDA;
    color: #222;
}
#contact-us .talk:nth-child(6) h6{
    background-color: #E1A789;
    color: #222;
}