@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

main {
  background: linear-gradient(45deg, #c337633c, #1d257149);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-weight: 600;
  width: 13vw;
  min-height: 3vh;
  border: 3px solid #5a2c6c;
  border-radius: 40px;
  font-size: 17px;
  transition: 0.5s ease;

  text-align: center;
  padding: 17px;
  margin: 20px;
}

.normal {
  text-decoration: none;
}

button:hover {
  transition: 0.5s ease;
  cursor: pointer;
  transform: scale(1.2);
  background-color: #43186a;
  color: white;
}

#title01 {
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 4rem;
  background: linear-gradient(to top, transparent 0%, #5a2c6c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 80px;
  color: white;
}

.active {
  display: block;
}

.off {
  display: none;
}

@media (max-width: 1172px) {
  button {
    max-width: 25vw;
  }
}

@media (max-width: 390px) {
  button {
    max-width: 45vw;
  }
}

/*===================================Top=================================*/

.top {
  padding: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background: url(imagens/R.jfif);
  height: 10px;
  box-shadow: 0px 18px 42px -1px rgba(1, 1, 1, 0.29);
}

.top a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
}

@media(max-width:391px) {
  .top a {
    font-size: 14px;
  }
}

/*==================================HERO=================================*/

.container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

@media(max-width:1024px) {
  .container p {
    font-size: 1.6rem;
  }
}

@media(max-width:500px) {
  .container p {
    font-size: 1rem;
  }
}

@media(max-width:400px) {
  .container p {
    width: 150px;
    font-size: 0.8rem;
  }
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background: url(imagens/R.jfif);
  background-size: cover;
}

.hero h1 {
  font-weight: 600;
  color: white;
}

.hero #main {
  display: flex;
  width: 20%;
  box-shadow: 10px 3px 20px 11px rgba(255, 255, 255, 0.345);
  transition: 0.5s ease;
  border-radius: 10%;
  margin: 40px;
  transition: 0.5s ease;
}


@media (max-width: 1172px) {
  #main {
    transform: scale(1.3);
    margin: 80px;
  }
}

@media (max-width: 360px) {
  #main {
    transform: scale(1.9);
  }
}

@media (max-width: 412px) {
  #main {
    transform: scale(1.9);
  }
}

.hero p {
  line-height: 2em;
  width: 50vw;
  justify-content: justify;
  text-align: center;
  color: white;
}

#about {
  font-weight: 600;
  font-size: 20px;
}

@media(max-width:1024px) {
  #about {
    font-size: 20px;
    width: 90vw;
  }
}

@media(max-width:500px) {
  #about {
    width: 90vw;
    font-size: 13px;
  }
}

#about {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;

}

#about:after {
  content: '';
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 25px;
  width: 4px;
  animation: cursor 0.4s infinite;
}



/* The typewriter cursor effect */
@keyframes cursor {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.social-fields {
  display: flex;
  padding: 30px;
  width: 15px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.social-fields img {
  width: 30px;
  margin-left: 20px;
  transition: 0.8s ease;
}

.social-fields img:hover {
  transition: 0.8s ease;
  transform: scale(1.6);
  cursor: pointer;
}

.social {
  margin: 10px;
  color: white;
  transition: 0.8s ease;
}

/*==================================BANNER=================================*/
#banner {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(imagens/1548686474966.jfif);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: white 5px solid;
  border-top: white 5px solid;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgb(141, 0, 0);
}

@media(max-width:1079px) {
  #banner h2 {
    font-size: 20px;
  }
}

/*==================================MY SERVICES=================================*/
.myservices a {
  text-decoration: none;
  cursor: pointer;
  color: #5a2c6c;
}

@media(max-width:1079px) {
  #title01 {
    font-size: 28px;
    width: 70%;
    text-align: center;
    margin: auto;
  }
}

.card-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}

.card-services .card {
  display: flex;
  max-width: 35vw;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.231);
  -webkit-box-shadow: 0px 4px 20px 1px #474747;
  box-shadow: 0px 4px 20px 1px #474747;
  color: #5a2c6c;
  flex-wrap: wrap;
  transform: scale(0.77);
  border-radius: 20px;
}

.card h3 {
  font-weight: 400;
}

.card-services img {
  width: 210px;
  align-items: center;
  justify-content: center;
}

.card-services h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 2.3em;
}

/*==================================MY SERVICES RESPONSIVE=================================*/
@media(max-width:1079px) {
  .card-services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;

  }

  .card-services .card {

    display: flex;
    max-width: 500vw;
    flex-direction: row;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.231);
    color: #5a2c6c;
    flex-wrap: wrap;
    transform: scale(0.80);
    border-radius: 20px;
  }

}

@media(max-width:417px) {
  .card-services .card {
    max-width: 800vw;
    justify-content: center;
  }
}


/*==================================EDUCATION AND SKILLS================================*/

.educskills {
  margin: auto;

}

.content {
  padding: 50px 90px;
  margin: 0 auto;
}

.skills-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: 650px 600px;
  gap: 40px;
  justify-content: center;

  margin: 0 auto;
}

.skills-info h4 {
  margin-bottom: 20px;
}

.skills-info h4 label {
  color: #ffffff;
  background: #5a2c6c;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
}

.education-all {
  margin-bottom: 80px;
}

.edu-list .item {
  border-bottom: 4px solid #5a2c6c;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 20px 1px #474747;
  box-shadow: 0px 4px 20px 1px #474747;
  padding: 20px;
  margin-top: 25px;
  border-radius: 6px;
  transition: .3s ease;
  list-style: none;
}

.edu-list .item .year {
  font-size: 17px;
  margin-bottom: 5px;
  color: #5a2c6c;
  font-weight: 800;
}

.edu-list .item p {
  color: #0f042c;
  font-weight: 400;
  font-size: 17px;
}

.bar {
  background: white;
  -webkit-box-shadow: 0px 4px 20px 1px #474747;
  box-shadow: 0px 4px 20px 1px #474747;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: .3s ease;
  margin-top: 20px;
}

.bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 18px;
}

.bar .info span {
  font-weight: 500;
}

.bar .line {
  position: relative;
  width: 100%;
  height: 6px;
  background: #42186a54;
  border-radius: 4px;
}

.bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #5a2c6c;
  border-radius: 4px;
}

.bar .html:before {
  width: 90%;
}

.bar .css:before {
  width: 50%;
}

.bar .js:before {
  width: 30%;
}

.bar .python:before {
  width: 55%;
}

.bar .java:before {
  width: 45%;
}

.bar .UX:before {
  width: 75%;
}

/*==================================SKILLS AND EDUCATION RESPONSIVE=================================*/

@media(max-width:1440px) {
  .skills-info {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 3fr));
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media(max-width:1024px) {
  .content {
    background: none;
  }
}

@media(max-width:900px) {
  .skills-info {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 3fr));
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media(max-width:700px) {
  .skills-info {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media(max-width:467px) {
  #title01 {
    font-size: 28px;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .skills-info {
    grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
  }
}

/*============================================Projects==============================*/
.projects {
  padding: 50px;
}

.carousel {
  transition: .3s ease;
  border-radius: 20px;

}

.carousel:hover {
  transition: .3s ease;
  cursor: pointer;
  transform: scale(0.9);
}

.carousel img {
  box-shadow: 10px 3px 20px 11px rgba(255, 255, 255, 0.345);
  width: 100vw;
  border-radius: 20px;
}

.carousel h4 label {
  color: #ffffff;
  background: #5a2c6c;
  font-weight: 600;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(0.9);
}

.slider-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pj-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-auto-rows: 300px;
  border-radius: 20px;
  margin-top: 50px;
  box-sizing: border-box;
}

.bloco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bloco1 {

  background: url(imagens/project\ -\ paralax.png);
  background-size: cover;
  background-position: center center;
  transition: .3s ease;
  border-radius: 20px;
  -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.854);
  box-shadow: inset 8px -300px 17px -30px rgba(0, 0, 0, 0.816);
}

.bloco1:hover {
  transition: .3s ease;
  transform: scale(0.9);
  cursor: pointer;
}

.bloco label {
  color: #ffffff;
  background: #5a2c6c;
  font-weight: 500;
  padding: 5px 20px;
  margin: 100px;
  border-radius: 5px;
}

.bloco3 label {
  width: 20vw;
  padding: 10px;
  text-align: center;
}

#botao-3 {
  margin-bottom: 70px;
}

.bloco p {
  font-size: 20px;
  font-weight: 600;
  width: 70%;
  color: white;
  text-align: center;
}

.bloco2 {
  background: url(imagens/Simple-cauculator.png);
  background-size: cover;
  background-position: center center;
  transition: .3s ease;
  border-radius: 20px;
  -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
  box-shadow: inset 8px -150px 17px -30px rgba(0, 0, 0, 0.74);
}
.bloco2 p{
    margin-bottom: 90px;
}

.bloco2:hover {
  transition: .3s ease;
  transform: scale(0.9);
  cursor: pointer;
}

.bloco3 {
  background: url(imagens/site\ android.png);
  background-size: cover;
  background-position: center center;
  transition: .3s ease;
  border-radius: 20px;
  -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
  box-shadow: inset 8px -120px 17px -30px rgba(0, 0, 0, 0.74);
}

.bloco3:hover {
  transition: .3s ease;
  transform: scale(0.9);
  cursor: pointer;
}

.bloco4 {
  width: 20vw;
  background: url(imagens/grid\ site.png);
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
  box-shadow: inset 8px -120px 17px -30px rgba(0, 0, 0, 0.74);
  transition: .3s ease;
  border-radius: 20px;
}

.bloco4:hover {
  transition: .3s ease;

  cursor: pointer;
  transform: scale(0.9);
}

#botao-4 {
  margin-bottom: 70px;
}

.pj-layout img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

@media(max-width:1024px) {
  .pj-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }
}
/*============================================PROJECTS RESPONSIVE==============================*/
@media(max-width:1024px){
    button{
      width: 150px;
      height: 40px;
      font-size: 20px;
    }
    .bloco4{
      min-width: 500px;
    }
}
@media(max-width:1016px){
  button{
    width: 180px;
    height: 10px;
  }
  .bloco label {
    color: #ffffff;
    background: #5a2c6c;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0px;
    border-radius: 5px;
    font-size: 20px;
  }
  .bloco p {
    margin-top: 30px;
    font-weight: 600;
    width: 70%;
    color: white;
    text-align: center;
  }
    .bloco4{
    min-width: 500px;
  }
}
@media(max-width:700px) {
  .projects {
    padding: 0px;
  }
  
  .carousel {
    transition: .3s ease;
    border-radius: 0px;
    width: 100vw;
    height: 50vw;
  }
  .carousel img{
    border-radius: 0px;
  }
  .carousel:hover {
    transition: .3s ease;
    cursor: pointer;
  }
  .carousel h4 label {
    color: #ffffff;
    background: #5a2c6c;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
  }

  .pj-layout {
    display: grid;
    padding: 30px;
    gap: 16px;
    grid-template-columns: 100px;
    grid-auto-rows: 200px;
    border-radius: 20px;
    margin-top: 50px;
    box-sizing: border-box;
  }
  
  .bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .bloco1 {
  
    background: url(imagens/project\ -\ paralax.png);
    background-size: cover;
    background-position: center center;
    transition: .3s ease;
    border-radius: 20px;
    margin: 20px;
    -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.854);
    box-shadow: inset 8px -300px 17px -30px rgba(0, 0, 0, 0.816);
  }
  
  .bloco1:hover {
    transition: .3s ease;
    transform: scale(1);
    cursor: pointer;
  }
  
  .bloco label {
    color: #ffffff;
    background: #5a2c6c;
    font-weight: 500;
    padding: 5px 17px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .bloco3 label {
    width: 50vw;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 30px;
  }
  
  #botao-3 {
    margin-bottom: 40px;
  }
  
  .bloco p {
    font-size: 17px;
    font-weight: 600;
    width: 70%;
    color: white;
    text-align: center;
  }
  
  .bloco2 {
    background: url(imagens/Simple-cauculator.png);
    background-size: cover;
    background-position: center center;
    transition: .3s ease;
    border-radius: 20px;
    -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
    box-shadow: inset 8px -150px 17px -30px rgba(0, 0, 0, 0.74);
  }
  .bloco2 p{
      margin-bottom: 20px;
      font-size: 15px;
  }
  
  .bloco2:hover {
    transition: .3s ease;
    transform: scale(1);
    cursor: pointer;
  }
  
  .bloco3 {
    background: url(imagens/site\ android.png);
    background-size: cover;
    background-position: center center;
    transition: .3s ease;
    min-width: 90vw;
    border-radius: 20px;
    -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
    box-shadow: inset 8px -120px 17px -30px rgba(0, 0, 0, 0.74);
  }
  
  .bloco3:hover {
    transition: .3s ease;
    transform: scale(1);
    cursor: pointer;
  }
  
  .bloco4 {
    min-width: 90vw;
    background: url(imagens/grid\ site.png);
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: inset 8px -50px 17px -30px rgba(0, 0, 0, 0.74);
    box-shadow: inset 8px -120px 17px -30px rgba(0, 0, 0, 0.74);
    transition: .3s ease;
    border-radius: 20px;
  }
  
  .bloco4:hover {
    transition: .3s ease;
  
    cursor: pointer;
    transform: scale(1);
  }
  
  #botao-4 {
    margin-bottom: 10px;
  }
  
  .pj-layout img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  button{
    width: 190px;
    height: 9px;
  }
}

@media(max-width:560px){
  
  button{
    width: 200px;
    font-size: 25px;
    height: 4vh;
  }
} 
/*============================================TALK SECTION==============================*/
.talk {
  display: flex;
  background: url(imagens/talk.png);
  background-color: #43186a;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 70px;
}